/* IMPORTAMOS LA FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    background-color: #dde1e9;
}
/* SECCION MENU */
.contenedor-header{
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #2f283e;
    background-color: rgba(0,0,0.7);
    z-index: 99;
    padding: 0 20px;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: #fff;
}
.txtVioleta{
    color: #5E5491;
}
.contenedor-header header nav a{
    display: inline-block;
    text-decoration: none;
    color: #ffff;
    padding: 5px;
    text-transform: uppercase;
}
.contenedor-header header nav a:hover{
    color: #C4E86C;
}
.contenedor-header header .redes a{
    text-decoration: none;
    color: #ffff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 8px;
}
.contenedor-header header .redes a:hover{
    color: #5E5491;
}
.nav-responsive{
    font-size: 25px;
}
/* SECCION INICIO */
.inicio{
    height: 100vh;
    /* top: 70px; */
    background: linear-gradient(rgba(0,1,3,.5), rgba(0,0,0,.7)), url(/img/home-img.png);
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
}
.inicio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.inicio .info{
    width: fit-content;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    animation: anim 2.5s linear infinite
}
.inicio .info h2{
    font-size: 4rem;
    letter-spacing: 3px;
    border-bottom: 2px solid #5E5491;
   
}

@keyframes anim{
    0%{
        width: 0;
        height: 0;
    }
    30%{
        width: 50%;
        height: 0;
    }
    60%{
        width: 59vw;
        height: 12vw;
    }
    80%{
        width: 59vw;
        height: 12vw;
    }
    100%{
        width: 59vw;
        height: 12vw;
    }
}
.inicio .info p{
    display: flex;
    justify-content: center;
    margin: 20px;
    color: #797e8e;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.inicio .info .btn-mas{
    width: 50px;
    margin: auto;
    height: 50px;
    border: 2px solid #C4E86C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #C4E86C;
    margin-top: 50px;
    text-decoration: none;
}
.opciones{
    width: 80%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.opciones .opcion{
    border-top: 2px solid #797e8e;
    padding: 7px;
    color: #797e8e;
    text-transform: uppercase;
}
/* SECCION NOSOTROS */
.nosotros{
    max-width: 1100px;
    margin: auto;
    height: 100vh;
    background-color: #dde1e9;
    padding: 100px 20px;
}
.nosotros .fila{
    display: flex;
    align-items: center;
}
.nosotros .fila .col{
    width: 50%;
}
.nosotros .fila .col img{
    width: 80%;
    /* height: 600px; */
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.nosotros .fila .col .contenedor-titulo{
    display: flex;
    align-items: center;
}
.nosotros .fila .col .contenedor-titulo .numero{
    color: #5E5491;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.nosotros .fila .col .contenedor-titulo .info{
    margin-left: 30px;  
}
.nosotros .fila .col .contenedor-titulo .info .frase{
    color: #5E5491;
   
}
.nosotros .fila .col .contenedor-titulo .info h2{
    font-size: 3rem;
}
.nosotros .fila .col .p{
    margin-bottom: 30px;
    line-height: 28px;
}
.nosotros .fila .col .p-especial{
    font-weight: bold;
}
.nosotros hr{
    margin-bottom: 40px;
}
.nosotros .fila-nosotros{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nosotros .fila-nosotros .frase{
    font-size: 18px;
    font-weight: 600;
}
.nosotros .fila-nosotrosh2{
    font-size: 2.5rem;

}
.nosotros .fila-nosotros button{
    background-color: #5E5491;
    border: none;
    color: #fff;
    padding: 15px 35px;
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
/* SECCION SERVICIOS */
.servicios{
    color: #fff;
    position: relative;
}
.servicios .contenido-servicios{
    background: linear-gradient(rgba(0,14,41,.6), rgba(0,7,78,.7)), url(/img/fondo-servicios.jpg);
    background-size: cover;
    background-position: center center;
    margin: 110px auto;
    padding: 0 20px;

}
.servicios .contenido-servicios .fila{
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 100px;
}
.servicios .contenido-servicios .fila .col{
    width: 50%;
}
.servicios .contenido-servicios .fila .col img{
    display: block;
    width: 50%;
    margin: auto;
}
.servicios .fila .col .contenedor-titulo{
    display: flex;
    align-items: center;
}
.servicios .fila .col .contenedor-titulo .numero{
    color: #5E5491;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.servicios .fila .col .contenedor-titulo .info{
    margin-left: 30px;  
}
.servicios .fila .col .contenedor-titulo .info .frase{
    color: #FFF;
   
}
.servicios .fila .col .contenedor-titulo .info h2{
    font-size: 3rem;
}
.servicios .fila .col .p{
    margin-bottom: 10px;
    line-height: 28px;
}
.servicios .fila .col .p-especial{
    font-weight: bold;
}
.servicios .info-servicios{
    max-width: 800px;
    margin: auto;
}
.servicios .info-servicios table{
    text-align: center;
    background: #fff;
    color: #1f283e;
    border-collapse: collapse;
    position: relative;
    bottom: 180px;
}
.servicios .info-servicios table td{
    padding: 30px;
    border: 1px solid #dde1e9;
}
.servicios .info-servicios table i{
    color: #ff1133;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.servicios .info-servicios h3{
    margin-bottom: 20px;
    text-transform: uppercase;
}
.servicios .info-servicios p{
    line-height: 30px;
}
/* SECCION COMODIDADES */
.comodidades{
    max-width: 1100px;
    margin: auto;
    background-color: #dde1e9;
    padding: 100px 20px;
}
.comodidades .fila{
    display: flex;
    align-items: center;
}
.comodidades .fila .col{
    width: 50%;
}
.comodidades .fila .col img{
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}
.comodidades .fila .col .contenedor-titulo{
    display: flex;
    align-items: center;
}
.comodidades .fila .col .contenedor-titulo .numero{
    color: #5E5491;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.comodidades .fila .col .contenedor-titulo .info{
    margin-left: 30px;  
}
.comodidades .fila .col .contenedor-titulo .info .frase{
    color: #5E5491;
   
}
.comodidades .fila .col .contenedor-titulo .info h2{
    font-size: 3rem;
}
.comodidades .fila .col .p-especial{
    font-weight: bold;
}
.comodidades .fila .col li{
    margin-bottom: 10px;
    line-height: 28px;
}
.comodidades .fila .col li span{
    font-weight: bold;
    color: #ff1133;
}
.galeria{
    color: #fff;
    background: linear-gradient(rgba(0,14,41,.6), rgba(0,0,0.7)), url(/img/fondo-galeria.jpg);
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    /* height: 100vh; */
}
.galeria .contenido-seccion{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}
.galeria .contenedor-titulo{
    display: flex;
    align-items: center;
}
.galeria .contenedor-titulo .numero{
    color: #ff1133;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.galeria .contenedor-titulo .info{
    margin-left: 30px;  
}
.galeria .contenedor-titulo .info .frase{
    color: #ff1133;
   
}
.galeria .contenedor-titulo .info h2{
    font-size: 3rem;
}
.galeria .fila{
    display: flex;
}
.galeria .fila .col img{
    width: 100%;
    display: block;
}
/* SECCION EQUIPO */
.equipo{
    max-width: 1100px;
    margin: auto;
    padding-top: 100px;
    background-color: #dde1e9;
    
}
.equipo .contenedor-titulo{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}
.equipo .contenedor-titulo .numero{
    color: #ff1133;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.equipo .contenedor-titulo .info{
    margin-left: 30px;  
}
.equipo .contenedor-titulo .info .frase{
    color: #ff1133;
   
}
.equipo .contenedor-titulo .info h2{
    font-size: 3rem;
}
.equipo .fila{
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}
.equipo .fila .col{
    width: 25%;
}
.equipo .fila .col img{
    max-height: 400px;
    display: block;
    margin: auto;
}
.equipo .fila .info{
    border: 5px solid #1f283e;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    background: linear-gradient(#ff1133, #9a0e23);
    color: #fff;
}
.equipo .fila .info p{
    margin: 20px 0;
}
.equipo .fila .info a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
}

/* SECCION CONTACTO */
.contacto{
    color: #fff;
    background: linear-gradient(rgba(0,1,3,.5), rgba(0,0,0,.7)), url(/img/fondo.jpg);
    background-size: cover;
    background-position: center center;
    padding: 100px 20px;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto .contenedor-titulo{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}
.contacto .contenedor-titulo .numero{
    color: #5E5491;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.contacto .contenedor-titulo .info{
    margin-left: 30px;  
}
.contacto .contenedor-titulo .info .frase{
    color: #5E5491;
   
}
.contacto .contenedor-titulo .info h2{
    font-size: 3rem;
}
.contacto .fila{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.contacto .fila .col{
    width: 48%;
}
.contacto .fila input{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
}
.contacto textarea{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    margin-top: 20px;
    height: 200px;
}
.contacto button{
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    border: none;
    background: #5E5491;
    color: #fff;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}
.contacto .fila-datos{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    font-size: 18px;
    text-align: center;
}
.contacto i{
    color: #ff1133;
    display: inline-block;
    margin-right: 10px;
}
/* FOOTER */
footer{
    background: #151523;
    padding: 30px 0;
}
footer .info{
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
    padding: 0 20px;
}
footer .info p{
    color: #797e8e;
}
footer .info a{
    text-decoration: none;
    color: #797e8e;
    display: inline-block;
    margin: 0 15px;
}
.nav-responsive{
    display: none;
}
/* SECCION RESPONSIVE */
@media only screen and (max-width: 900px){
    header nav{
        position: absolute;
        display: none;
        transform: translate(0);
    }
    header .redes{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    
    /* Esta clase se agregará dinámicamente */
    nav.responsive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #151523;
        z-index: 99;
    }
    nav.responsive a{
        display: block;
        width: fit-content;
        margin: 10px auto;
        font-size:30px;
    }
    .inicio .opciones{
        display: none;
    }
    .nosotros .fila{
        display: block;

    }
    .nosotros .fila .ol{
        width: 100%;
    }
    .nosotros .fila .col img{
        max-width: 200px;
        margin: auto;
        display: block;
    }
    .servicios .contenido-servicios .fila{
        display: block;

    }
    .servicios .contenido-servicios .fila .col{
        width: 100%;
        
    }
    .comodidades .fila{
        display: block;
    }
    .comodidades .fila .col{
        width: 100%;
    }
    .comodidades .fila .col img{
        max-width: 200px;
    }
    .equipo .fila{
        display: block;
    }
    .equipo .fila .col{
        width: 100%;
        margin-bottom: 20px;
    }
    .equipo .fila .col img{
        max-height: 200px;
    }
    .equipo .info{
        max-width: 250px;
        margin: auto;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
        margin-bottom: 20px;
    }
    .contacto .fila-datos{
        display: block;
    }
    .contacto .fila-datos .col{
        margin-bottom: 20px;
    }
    footer .info{
        display: block;
        text-align: center;
    }
    footer .info p{
        margin-bottom: 10px;
    }
}
@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    #nav{
        width: 100vw;
        height: 55vh;
        font-size: 0.1rem;
        margin-top: 5.5rem;  
    }
    #nav a{
        width: 100vw;
        font-size: 2rem;
        text-align: center; 
    }

    .inicio .info{
        width: fit-content;
        margin: auto;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        animation: anim 2.5s linear infinite
    }
    .inicio .info h2{
        font-size: 4rem;
        letter-spacing: 3px;
        border-bottom: 2px solid #5E5491;
       
    }
    .about-img img{
        width: 80vw;
        height: 50vh;
        box-shadow: 0 0 1rem white;
    }
    .contact form .input-box input{
        width: 100%;
    }
}
@media (max-width: 365px){
    html, body {
        max-width: 100vw;
        overflow-x: hidden;
    }
    .header{
        width: 100vw;
    }
    .home-img img{
        width: 90vw;
        height: 48vh;
        box-shadow: 0 0 1rem white;
    }
    .about-img img{
        width: 90vw;
        height: 50vh;
        box-shadow: 0 0 1rem white;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem
    }
}
